<!DOCTYPE html>
<html lang="En" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Users data</title>
</head>
<body>
<div align="center">
    <br/><br/>
    <h1>User homepage</h1>
        <table border="0" cellpadding="10">
            <tr>
                <td>Name:</td>
                <td th:text="${user.name}"></td>
            </tr>
            <tr>
                <td>Surname:</td>
                <td th:text="${user.surname}"></td>
            </tr>
            <tr>
                <td>Profession:</td>
                <td th:text="${user.profession}"></td>
            </tr>
            <tr>
                <td>Login:</td>
                <td th:text="${user.login}"></td>
            </tr>
            <tr>
                <td>Authority:</td>
                <td th:text="${user.toStringRoles()}"></td>
            </tr>
        </table>
    <br>
    <a href="/logout">Log out</a>
</div>
</body>
</html>